body {
    background-color: #fff;
    min-width: 980px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mainLogo {       
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
}

.mainLogo {
    padding-top: 109px;
    text-align: center;
    height: 133px;
    margin-top: 89px; 
    
}

#content {
    height: 443px;
    min-width: 980px;
}

header {
    position: absolute;
    top: 0;
    min-width: 980px;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #222;
}

header a:hover {
    text-decoration: underline;
}

#headerLeft {
    position: absolute;
    top: 25px;
    left: 20px;
    display: inline-block;
    font-size: 13px;
    color: #222;
    font-family: arial, sans-serif;
}

.about {
    margin: 7px 0 0 10px;
}

.store {
    padding-left: 15px;
}

#headerRight {
    position: absolute;
    top: 25px;
    right: 20px;
    display: inline-block;
    font-size: 13px;
    color: #222;
    font-family: arial, sans-serif;
}

.gmail {
    padding-right: 15px;
}

.images {
    padding-right: 15px;
}

.appsLogo {
    display: inline-block;
    vertical-align: middle;
    background-color: grey;
    height: 25px;
    width: 25px;
    padding-left: 0 0 0 15px;
    margin-left: 0;
    margin-right: 0;
    
}

#searchBar {
    overflow: visible;
    margin: 0 auto;
    width: 482px;
    padding: 0 33px;

}

.textBox {
    background-color: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#mainSearchBar {
    border: none;
    background-color: transparent;
    height: 34px;
    width: 387px;
    margin: 4px auto;
    font-size: 16px;
    line-height: 34px;
}

.centerButtons {
    text-align: center;
    width: 487px;
    height: 58px;
}

.searchButton {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 980px;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5f6368;
}

footer a {
    text-decoration: none;
    color: #5f6368;
    padding-right: 20px;
}

footer a:last-child {
    padding-right: 0px;
}

#footerOrigin {
    padding-left: 30px;
    height: 40px;
    border: 1px solid #c9c8c8;
    margin-bottom: 40px;
    line-height: 40px;
    
}

#footerLeft {
    height: 40px;
    position: absolute;
    left: 30px;
    bottom: 0px;
    line-height: 40px;
}

#footerRight {
    height: 40px;
    position: absolute;
    right: 30px;
    bottom: 0px;
    line-height: 40px;
}